name: Docker

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Login to Quay
      run: docker login quay.io -u ${{ secrets.QUAY_USERNAME }} -p ${{ secrets.QUAY_PASSWORD }}

    - name: Build and push Redis
      env:
        REDIS_VERSION: latest
      run: |
        docker build . --file Dockerfile --tag quay.io/opstree/redis:${REDIS_VERSION}
        docker push quay.io/opstree/redis:${REDIS_VERSION}

    - name: Build and push Redis Sentinel
      env:
        REDIS_SENTINEL_VERSION: latest
      run: |
        docker build . --file Dockerfile.sentinel --tag quay.io/opstree/redis-sentinel:${REDIS_SENTINEL_VERSION}
        docker push quay.io/opstree/redis-sentinel:${REDIS_SENTINEL_VERSION}

    - name: Build and push Redis Exporter
      env:
        REDIS_EXPORTER_VERSION: latest
      run: |
        docker build . --file Dockerfile.exporter --tag quay.io/opstree/redis-exporter:${REDIS_EXPORTER_VERSION}
        docker push quay.io/opstree/redis-exporter:${REDIS_EXPORTER_VERSION}
